{% extends "blog/base.html" %}

{% block content %}


<div id="bodyDiv">
  <h1>2015 SANCRA EXECUTIVE BOARD</h1>
  <table style='width:80%; padding-left:25%'; >
    <tr class=boardMember>
      <td>PRESIDENT</td>
      <td>Jenny Vivenzi</td>
      <td>Watsonville</td>
    </tr>
    <tr>
      <td /><td /> <td>831.768.3263 FAX-831.763.4078</td>
    </tr>
    <tr>
      <td /><td /> <td>jvivenzi@cityofwatsonville.org</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td>PRESIDENT ELECT</td>
      <td>Jill Bates</td>
      <td>Santa Cruz</td>
    </tr>
    <tr>
      <td /><td /> <td>831.420.5266 FAX 831.420.5271</td>
    </tr>
    <tr>
      <td /><td /> <td>jbates@cityofsantacruz.com</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td>TREASURER</td>
      <td>Colin James</td>
      <td>Mountain View</td>
    </tr>
    <tr>
      <td /><td />
      <td>650.903.6412 FAX-650.962.1069</td>
    </tr>
    <tr>
      <td /><td />
      <td>Colin.James@mountainview.gov</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td>SECRETARY</td>
      <td>John Araujo</td>
      <td>Retired</td>
    </tr>
    <tr>
      <td /><td />
      <td>408.799.6501 FAX-none</td>
    </tr>
    <tr>
      <td /><td />
      <td>Colin.James@mountainview.gov</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td>AQUATICS CO CHAIR</td>
      <td>Lisa Rick</td>
      <td>Morgan Hill</td>
    </tr>
    <tr>
      <td /><td />
      <td>408.310.4301 FAX 408.778.8286</td>
    </tr>
    <tr>
      <td /><td />
      <td>lisa.rick@morganhill.ca.gov</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td></td>
      <td>Aaron Bueno</td>
      <td>Campbell</td>
    </tr>
    <tr>
      <td /><td />
      <td>408.866.2741 FAX-408.374.6965</td>
    </tr>
    <tr>
      <td /><td />
      <td>aaronb@cityofcampbell.com</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td>SOFTBALL CHAIR</td>
      <td>Milee Beaulieu</td>
      <td>Santa Clara</td>
    </tr>
    <tr>
      <td /><td />
      <td>408.615.3160 FAX-None</td>
    </tr>
    <tr>
      <td /><td />
      <td>Mbeaulieu@santaclara.gov</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

    <tr class=boardMember>
      <td>BASKETBALL CHAIR</td>
      <td>Edwin Cortez</td>
      <td>San Jose</td>
    </tr>
    <tr>
      <td /><td />
      <td>408.268.1133 Fax-408.286.3682</td>
    </tr>
    <tr>
      <td /><td />
      <td>edwin.cortez@sanjoseca.gov</td>
    </tr>    <tr><td colspan="3"><br/></td></tr>

  </table>



</div>  <!-- bodyDiv -->

{% endblock content %}
